.hero {
    background: var(--primary);
    color: var(--white);
    text-align: center;
    padding: 10px;
    width: 100%;
}

.carousel-item {
    height: 300px;
    width: 100%;
    background-image: url("../images/hero/lg/istria.jpg");
    background-repeat: no-repeat;
    background-size: cover;


  -webkit-transition: background-image 0.5s linear;
  -moz-transition: background-image 0.5s linear;
  -ms-transition: background-image 0.5s linear;
  transition: background-image 0.5s linear;
}
.page-view{
    display:none;
}
[data-view = "hero-image"]{
    display: block;
}


@media screen and (min-width: 768px) {

    .hero {
        padding: 20px;
        width: 100%;
    }
    .carousel h2{
        padding-right: 25%;
    }
    h2{
        text-align: right;
    }
    h1{
        text-align: left;
    }
    .carousel-item{
        height: 550px;
    }
}